<li>
  <div class="flexrow">
    <label class="flex1" for="enemy-name-{{@index}}">Name</label>
    <input class="flex2" name="data.enemies.[{{@index}}].name" type="text" value="{{enemy.name}}" id="enemy-name-{{@index}}"/>
    <label class="flex1 second" for="enemy-type-{{@index}}">Type</label>
    <input class="flex2" name="data.enemies.[{{@index}}].type" type="text" value="{{enemy.type}}" id="enemy-type-{{@index}}"/>
  </div>
  <div class="flexrow">
    <label class="flex1" for="enemy-hatered-{{@index}}">Hatered</label>
    <input class="flex2" name="data.enemies.[{{@index}}].hatered" type="number" value="{{enemy.hatered}}" id="enemy-hatered-{{@index}}" min="0" max="20"/>
    <label class="flex1 second" for="enemy-reason-{{@index}}">Reason</label>
    <input class="flex2" name="data.enemies.[{{@index}}].reason" type="text" value="{{enemy.reason}}" id="enemy-reason-{{@index}}"/>
  </div>
  {{#if owner}}
  <div class="flexrow">
    <label class="flex1" for="enemy-notes-{{@index}}">Notes</label>
    <textarea style="flex: 5" id="enemy-notes-{{@index}}" name="data.enemies.[{{@index}}].notes">{{enemy.notes}}</textarea>
  </div>
  {{/if}}
</li>
