<div class="dune momentum-threat tracker-container">
  <div id="dune-momentum-tracker" class="momentum-threat tracker momentum">
    <div class="header">
      {{localize 'DUNE.tracker.momentum'}}
    </div>
    <div class="button-group">
      <div id="dune-momentum-track-decrease" class="button decrease momentum-threat-impermitable">
        <i class="fas fa-minus"></i>
      </div>
      <div>
        <input type="text" class="input" id="dune-track-momentum" data-dtype="Number" value="{{ momentum }}" />
      </div>
      <div id="dune-momentum-track-increase" class="button increase momentum-threat-impermitable">
        <i class="fas fa-plus"></i>
      </div>
    </div>
  </div>
  <div id="dune-threat-tracker" class="momentum-threat tracker threat">
    <div class="header">
      {{localize 'DUNE.tracker.threat'}}
    </div>
    <div class="button-group">
      <div id="dune-threat-track-decrease" class="button decrease momentum-threat-impermitable">
        <i class="fas fa-minus"></i>
      </div>
      <div>
        <input type="text" class="input" id="dune-track-threat" data-dtype="Number" value="{{ threat }}" />
      </div>
      <div id="dune-threat-track-increase" class="button increase momentum-threat-impermitable">
        <i class="fas fa-plus"></i>
      </div>
    </div>
  </div>
</div>
