<form class="{{cssClass}} dune talent flexcol" autocomplete="off">
  <header class="sheet-header flexrow">
    <h1 class="name">
      <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DUNE.Name' }}"/>
    </h1>
  </header>
  <section class="sheet-body flexcol">
    <div class="description">
      <textarea rows="8" name="data.description">{{data.data.description}}</textarea>
    </div>
    <div class="rule">
      <textarea rows="8" name="data.rule">{{data.data.rule}}</textarea>
    </div>
    <div class="details flexcol">
      <div class="flexrow faction">
	<label for="faction-only">{{ localize 'DUNE.items.faction' }}</label>
	<input name="data.faction" type="text" value="{{item.data.data.faction}}"
	       id="faction-only" placeholder="{{ localize 'DUNE.items.none' }}"
	       {{#if actor }}readonly{{/if}}/>
      </div>
      {{#if (or (not actor) data.data.forSkill) }}
      <div class="flexrow skill">
	<span class="flexrow">
	  <label for="for-skill">{{ localize 'DUNE.items.skill' }}</label>
	  <input name="data.forSkill" id="for-skill" type="checkbox" {{#if item.data.data.forSkill}}checked{{/if}}
		 {{#if actor }}disabled{{/if}}/>
	</span>
	<select name="data.skill" {{#if data.data.forSkill}}required{{else}}disabled{{/if}}>
	  <option value="" disabled {{#unless data.data.skill}}selected{{/unless}}>{{ localize 'DUNE.items.choose' }}</option>
	  <option {{#if (eq data.data.skill 'Battle')}}selected{{/if}} value="Battle">{{ localize 'DUNE.battle' }}</option>
	  <option {{#if (eq data.data.skill 'Communicate')}}selected{{/if}} value="Communicate">{{ localize 'DUNE.communicate' }}</option>
	  <option {{#if (eq data.data.skill 'Discipline')}}selected{{/if}} value="Discipline">{{ localize 'DUNE.discipline' }}</option>
	  <option {{#if (eq data.data.skill 'Move')}}selected{{/if}} value="Move">{{ localize 'DUNE.move' }}</option>
	  <option {{#if (eq data.data.skill 'Understand')}}selected{{/if}} value="Understand">{{ localize 'DUNE.understand' }}</option>
	</select>
      </div>
      {{/if}}
      {{#if (or (not actor) data.data.forDrive) }}
      <div class="flexrow drive">
	<span class="flexrow">
	  <label for="for-drive">{{ localize 'DUNE.items.drive' }}</label>
	  <input name="data.forDrive" id="for-drive" type="checkbox" {{#if item.data.data.forDrive}}checked{{/if}}
		 {{#if actor }}disabled{{/if}}/>
	</span>
	<select name="data.drive" {{#if data.data.forDrive}}required{{else}}disabled{{/if}}>
	  <option value="" disabled {{#unless data.data.drive}}selected{{/unless}}>{{ localize 'DUNE.items.choose' }}</option>
	  <option {{#if (eq data.data.drive 'Duty')}}selected{{/if}} value="Duty">{{ localize 'DUNE.duty' }}</option>
	  <option {{#if (eq data.data.drive 'Faith')}}selected{{/if}} value="Faith">{{ localize 'DUNE.faith' }}</option>
	  <option {{#if (eq data.data.drive 'Justice')}}selected{{/if}} value="Justice">{{ localize 'DUNE.justice' }}</option>
	  <option {{#if (eq data.data.drive 'Power')}}selected{{/if}} value="Power">{{ localize 'DUNE.power' }}</option>
	  <option {{#if (eq data.data.drive 'Truth')}}selected{{/if}} value="Truth">{{ localize 'DUNE.truth' }}</option>
	</select>
      </div>
      {{/if}}
      {{#if actor }}
      <div class="flexrow note">
	<label for="player-note">{{ localize 'DUNE.items.note' }}</label>
	<input name="data.note" id="player-note" type="text" value="{{data.data.note}}"/>
      </div>
      {{/if}}
    </div>
  </section>
</form>
